<!DOCTYPE html>
<!-- Drew - A Multipurpose Landing Page Template, designed by David Rozando (http://design.davidrozando.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- FAVICONS -->
		<link rel="icon" href="landing/images/favicons/favicon.ico">
		<link rel="apple-touch-icon" href="landing/images/favicons/apple-touch-icon.png">

		<!-- CSS
		================================= -->

		<!-- GOOGLE FONTS -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">

		<!-- LIBRARIES CSS -->
		<link rel="stylesheet" href="landing/css/bootstrap.min.css">
		<link rel="stylesheet" href="landing/css/font-awesome.min.css">
		<link rel="stylesheet" href="landing/css/animate.min.css">

		<!-- SPECIFIC CSS -->
		<link rel="stylesheet" href="landing/css/style.css">

		<!-- COLORS -->
		<link id="color-css" rel="stylesheet" href="landing/css/colors/red.css">

	</head>

	<body class="enable-animations enable-preloader">

		<div id="document" class="document">

			<!-- HEADER
			================================= -->
			<header id="header" class="header-section section section-dark navbar navbar-fixed-top">

				<div class="container-fluid">

					<div class="navbar-header navbar-left">

						<!-- RESPONSIVE MENU BUTTON -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<!-- HEADER LOGO -->
						<a class="navbar-logo navbar-brand anchor-link" href="#hero">
							<img src="landing/images/logos/josephine-logo.svg"> Josephine
						</a>

					</div>

					<nav id="navigation" class="navigation navbar-collapse collapse navbar-right">

						<!-- NAVIGATION LINKS -->
						<ul id="header-nav" class="nav navbar-nav">

							<li><a href="#hero" class="hidden">Top</a></li>

							<li><a href="#about">About</a></li>
							<li><a href="#how-it-works">How it Works</a></li>
							<li><a href="#video">Watch Video</a></li>
							<li><a href="#team">The Team</a></li>

							<!-- HEADER ACTION BUTTON -->
							<li class="header-action-button"><a href="/login" class="btn btn-primary">Log In</a></li>

						</ul>

					</nav>

				</div>

			</header>

			<!-- HERO
			================================= -->
			<section id="hero" class="hero-section hero-layout-simple hero-fullscreen section section-dark">

				<div class="section-background">

					<!-- IMAGE BACKGROUND -->
					<!-- <div class="section-background-image parallax" data-stellar-ratio="0.4">
						<img src="images/backgrounds/hero-bg-fullscreen-cta.jpg" style="opacity: 0.3;">
					</div> -->

					<!-- VIDEO BACKGROUND -->
					<div class="section-background-video section-background-dot-overlay parallax" data-stellar-ratio="0.4">
						<video preload="auto" autoplay loop muted poster="landing/images/backgrounds/video-fallback-bg.jpg" style="opacity: 0.3;">
              <source type="video/mp4" src="landing/videos/josephine3_1.mp4">
							<source type="video/mp4" src="landing/videos/video-bg.mp4">
							<source type="video/ogg" src="landing/videos/video-bg.ogv">
							<source type="video/webm" src=landing/"videos/video-bg.webm">
						</video>
					</div>
				</div>

				<div class="container">

					<div class="hero-content">
						<div class="hero-content-inner">

							<div class="row">
								<div class="col-md-10 col-md-offset-1">

									<div class="hero-heading text-center" data-animation="fadeIn">

										<h1 class="hero-title">Josephine</h1>

										<p class="hero-tagline">Home cooked meals from your neighbors</p>

									</div>

									<p class="hero-buttons text-center">
										<a href="#" class="btn btn-lg btn-default">Learn More</a>
										<a href="/login" class="btn btn-lg btn-primary">Log In Now</a>
									</p>

								</div>
							</div>

						</div>
					</div>

				</div>

			</section


			<!-- FOOTER
			================================= -->
			<section id="footer" class="footer-section section">

				<div class="container">

					<h3 class="footer-logo">
						<img src="landing/images/logos/josephine-logo.svg">
					</h3>

					<div class="footer-socmed">
						<a href="#" target="_blank"><span class="fa fa-facebook"></span></a>
						<a href="#" target="_blank"><span class="fa fa-twitter"></span></a>
						<a href="#" target="_blank"><span class="fa fa-instagram"></span></a>
						<a href="#" target="_blank"><span class="fa fa-pinterest"></span></a>
					</div>

					<div class="footer-copyright">
						&copy; 2016 Josephine
					</div>

				</div>

			</section>

		</div>

		<!-- LIBRARIES JS
		================================= -->
		<script src="landing/js/jquery-1.11.2.min.js"></script>
		<script src="landing/js/bootstrap.min.js"></script>
		<script src="landing/js/respimage.min.js"></script>
		<script src="landing/js/jpreloader.min.js"></script>
		<script src="landing/js/smoothscroll.min.js"></script>
		<script src="landing/js/jquery.nav.min.js"></script>
		<script src="landing/js/jquery.inview.min.js"></script>
		<script src="landing/js/jquery.counterup.min.js"></script>
		<script src="landing/js/jquery.stellar.min.js"></script>
		<script src="landing/js/responsiveslides.min.js"></script>

		<!-- MAIN SCRIPT
		================================= -->
		<script src="landing/js/script.js"></script>

	</body>

</html>
