%h1
  Dashboard | All Meals
  %hr

%h2
  .col-md-10
    %table.table.table-hover
      %thead
        %tr
          %th Meal Title
          %th Order Count
          %th Total Revenue
      %tbody
        - @meals.each do |meal|
          %tr
            %td= link_to meal.title, dashboard_meal_path(meal)
            %td= meal.orders.count
            %td= number_to_currency meal.orders.count * meal.price #TODO create helper
