%section#footer.footer-section.section
  .container
    %h3.footer-logo
      %img{:src => "landing/images/logos/josephine-logo.svg"}/
    .footer-socmed
      %a{:href => "#", :target => "_blank"}
        %span.fa.fa-facebook
      %a{:href => "#", :target => "_blank"}
        %span.fa.fa-twitter
      %a{:href => "#", :target => "_blank"}
        %span.fa.fa-instagram
      %a{:href => "#", :target => "_blank"}
        %span.fa.fa-pinterest
    .footer-copyright
      © 2016 Josephine
/
  LIBRARIES JS
  \=================================
%script{:src => "landing/js/jquery-1.11.2.min.js"}
%script{:src => "landing/js/bootstrap.min.js"}
%script{:src => "landing/js/respimage.min.js"}
%script{:src => "landing/js/jpreloader.min.js"}
%script{:src => "landing/js/smoothscroll.min.js"}
%script{:src => "landing/js/jquery.nav.min.js"}
%script{:src => "landing/js/jquery.inview.min.js"}
%script{:src => "landing/js/jquery.counterup.min.js"}
%script{:src => "landing/js/jquery.stellar.min.js"}
%script{:src => "landing/js/responsiveslides.min.js"}
/
  MAIN SCRIPT
  \=================================
%script{:src => "landing/js/script.js"}
